nohup.out
Assignment0/data
Assignment0/.ipynb_checkpoints
Assignment0/utils/__pycache__
Assignment1/data
Assignment1/.ipynb_checkpoints
Assignment1/nohup.out
Assignment2/Utils/__pycache__
Assignment3/.ipynb_checkpoints
Assignment3/Utils/__pycache__
Assignment3/__pycache__
